body {
    background-color: #800020; /* Bordo */
    color: #f5f5dc; /* Bej */
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    background-color: #f5f5dc; /* Bej */
    color: #800020; /* Bordo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    margin-bottom: 10px;
}

.heart {
    font-size: 2em;
    margin: 20px 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #800020;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #800020;
    color: #f5f5dc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #600018;
}

.hint {
    margin-top: 20px;
    font-size: 0.9em;
    color: #800020;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
}

.animation {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}